body{
    margin: 0;
}

.header{
    background-color: #6943FF;
    height: 285px;
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    padding-top: 33px;
}

input{
    border: 2px solid #B295FF;
    background-color: #B295FF;
    box-sizing: border-box;
    height: 83px;
    width:117px ;
    font-size: 2em;
}

button{
  width: 100px;
  height:30px;  
}
